services:
  backend:
    build:
      context: ./server/demo
    container_name: backend
  nginx:
    image: nginx:1.29.4-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
    